.dos-columnas{
	margin-top: 50px;
}

.datos{
	float: left;
	width: 25%;
	margin: auto;
	color:#999;
}
.formulario{
	float: left;
	width: 50%;
	margin: auto;
	color:#999;
}
.caja-1{
	width: 250px;
	height: 40px;
	margin: 20px 20px;
	padding: 10px;
	font-size: 14px;
}
.caja-2{
	width: 545px;
	height: 100px;
	margin: 20px 20px;
	padding: 10px;
	font-size: 14px;
}
.correr{
	margin: 20px 20px;
	padding: 10px;
}
.formu-ti{
	margin: 0px 20px;
	color: #444;
}
.datos-contacto{
	list-style: none;
	text-align: center;
}
.datos-contacto li{
	color: #444;
	padding-bottom: 5px;
}
.datos-contacto li i{
	color: #222;
	font-size: 60px;
}
.limpia{
	clear: both;
}
footer{
	clear: both;
	margin-top: 50px;
	background: #000;
	color: #FFFDFB;
	text-align: center;
	padding: 30px;
}